@model ProductVM

@{
    ViewData["Title"] = "Detay";
}

<h1 class="text-center text-danger">Ürün Detayı</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Dtos.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Dtos.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Dtos.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Dtos.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Dtos.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Dtos.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Dtos.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Dtos.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Dtos.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Dtos.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Dtos.Discontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Dtos.Discontinued)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
